.memorygame-board {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   gap: 2%;
   padding: 0% 3.9%;
}

.memorygame-wrapper.show .cell {
   height: 100%;
   aspect-ratio: 1/1;
   border: solid 2px var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--primary-color);
}

.memorygame-board .cell svg {
   pointer-events: none;
   height: 75%;
   width: 75%;
}

.cell.hide svg {
   opacity: 0;
}

.cell.hide {
   cursor: pointer;
}

.cell.show {
   pointer-events: none;
}

.cell.show svg {
   opacity: 1;
}

.memorygame-board .cell.piece-animation {
   animation: piece-color 0.6s forwards;
}

.memorygame-board .cell.fixed-color {
   border-color: var(--primary-color);
   background-color: var(--primary-color);
   color: var(--bg-color);
}

@keyframes piece-color {
   0% {
      border-color: var(--primary-color);
      background-color: var(--bg-color);
      color: var(--primary-color);
   }
   50% {
      color: var(--secondary-color);
   }
   100% {
      border-color: var(--primary-color);
      background-color: var(--primary-color);
      color: var(--bg-color);
   }
}

.end {
   animation: end 1s forwards !important;
}

@keyframes end {
   0% {
      background-color: #092447;
      border-color: #092447;
      color: #b7c1de;
   }
   60% {
      color: var(--primary-color);
   }
   100% {
      border-color: var(--secondary-color);
      background-color: var(--secondary-color);
      color: var(--primary-color);
   }
}
