.header {
   display: flex;
   justify-content: center;
}

.header-title {
   margin: 16px;
   padding: 4px 16px;
   background-color: var(--secondary-color);
   color: var(--primary-color);
   display: inline-block;
   font-size: 3em;

   @media screen and (max-width: 650px) {
      margin: 3%;
      font-size: 5vw;
   }
}
