.tictactoe-turn {
   display: flex;
   justify-content: space-evenly;
   padding: 1em;
}

.tictactoe-turn > div {
   padding: 8px;
   font-size: 28px;
   border-radius: 4px 6px;

   @media screen and (max-width: 700px) {
      font-size: 4vw;
   }
}

.tictactoe-turn > div.active {
   background-color: var(--secondary-color);
}
